component-testing/node_modules
cypress-e2e-test-bdd/node_modules
cypress-e2e-test-bdd/cypress/intergration
cypress-e2e-test-bdd/cypress/screenshots
cypress-e2e-test-bdd/cypress/videos
discord-bot/node_modules
javascript-voor-testers/node_modules